# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# lockfiles (prefer npm)
bun.lock

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
android/app/build/
android/.cxx/
android/.gradle/
ios/build/
ios/Pods/
*.apk
*.aab
*.ipa

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.development
.env.production
.env.test

package-lock.json

# typescript
*.tsbuildinfo
.vercel

# IDE/editor
.idea/
.vscode/

# tests/coverage
coverage/
